html{
  scroll-behavior: smooth;
}

body{
  overflow-y: scroll;
  margin: 0;
}

img{
  vertical-align: bottom;
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h2{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

/*--------------
header
--------------*/

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 40px;
}

.menu{
  cursor: pointer;
  z-index: 10;
}

.menu span{
 display: block;
 background-color: black;
 width: 30px;
 height: 2px;
 border-radius: 2px;
 margin-bottom: 8px;
 transition: all 0.5s ease;
}

.menu.active span:nth-child(1){
  transform:translateY(10px) rotate(-315deg);
  transition: all 0.5s ease;
  background-color: white;
}

.menu.active span:nth-child(2){
  opacity: 0;
  transition: all 0.5s ease;
  background-color: white;
}

.menu.active span:nth-child(3){
  transform:translateY(-10px) rotate(315deg);
  transition: all 0.5s ease;
  background-color: white;
}

#nav{
  opacity: 0;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgb(37, 34, 34);
  padding:0 20px;
  transition: all 0.5s ease;
  z-index: 10;
}

#nav.active{
  opacity: 1;
  left: 0;
  transition: all 0.5s ease;
}

.nav-menu li{
  border-top: solid 1px white;
  padding: 20px 0;
}

.nav-menu li:last-child{
  border-bottom: solid 1px white;
}

.nav-menu{
  margin: 40px 0;
}

.sns{
  margin-top: 60px;
}

.sns li{
  padding: 5px 0;
}

#nav li a{
  color: white;
}

.mask{
  display: none;
  opacity: 0;
}

.mask.active{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:  rgb(37, 34, 34);
  opacity: 0.8;
}

/*--------------
main
--------------*/

.bg-video{
  width: 100%;
}

#pick-up{
  margin: 100px 0;
}

.slider li{
  margin-right: 20px;
}

#feature{
  margin: 100px 0;
  
}

.grid{
  display: grid;
  padding: 0;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid li{
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all  0.3s ease;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
}

.grid li.fade-in{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.grid li img{
  vertical-align: top;
}

.text-area{
  padding: 30px;
}

.category{
  font-size: 0.8rem;
  color: gray;
}

.text{
  font-weight: bold;
}

.date{
  text-align: right;
}

/*--------------
contact
--------------*/
#contact{
  background-color: black;
  color: white;
  padding-top: 40px;
}

#contact .wrapper{
  display: flex;
  justify-content: space-between;
}

.info{
  width: 48%;
}

.form{
  width: 48%;
}

.form dd{
  margin: 0;
}

.form input,
.form textarea{
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.form .button input{
  width: 200px;
  background-color: black;
  color: white;
  padding: 15px 0;
  border: 1px solid white;
}

.form .button input:hover{
  background-color: white;
  color: black;
  z-index: 30;
}

.copyright{
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  margin: 0;
}




